@media (max-width: 560px) {
	.select {
		display: block;
		height: 150px;
	}	
	.main_block {
		display: block;
	}
	.currency {
		margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	}
	.ethereum {
	width: 80%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.litecoin {
	width: 80%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.bitcoin {
	width: 80%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}
}